<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
<script src="https://cdn.canvasjs.com/ga/canvasjs.stock.min.js"></script>
<script>
    $(document).ready(function () {

		var options = {
			title: {
				text: "Column Chart in jQuery CanvasJS"
			},
			data: [
				{
					// Change type to "doughnut", "line", "splineArea", etc.
					type: "column",
					dataPoints: [
						{ label: "apple", y: 10 },
						{ label: "orange", y: 15 },
						{ label: "banana", y: 25 },
						{ label: "mango", y: 30 },
						{ label: "grape", y: 28 }
					]
				}
			]
		};

		$("#chartContainer").CanvasJSChart(options);
    }

</script>

<p id="chartContainer"></p>